.find .find__options {
  background-color: rgb(203, 203, 203);
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 15px;
}

.find___options .find___option {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 5px;
  color: #523737;
}
.find___option i {
  margin-bottom: 15px;
}
.find___option span {
  font-size: 12px;
}
.find__recommended header {
  border-bottom: 1px solid #ebebeb;
  padding: 5px 10px;
  font-size: 12px;
  color: #b4b4b4;
}
.recommended__none {
  padding: 20px -;
  text-align: center;
  /*   border-top : 1px solid #ebebeb;
   */
  border-bottom: 1px solid #ebebeb;
  font-size: 14px;
}
