/* @import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import "reset.class";
@import "globals.css";
@import "header.css"; */

body {
  font-family: "Open Sans", sans-serif;
  padding-top: 60px;
  padding-bottom: 60px;
  /* padding-bottom:  */
}
